n8n-workflow-with-duplicate-check.json
{
  "name": "Dashboard AI Processing - With Duplicate Check",
  "nodes": [
    {
      "parameters": {},
      "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "jsCode": "// Get today's date or set it manually\nconst targetDate = '2026-02-11'; // Change this to process different dates\nreturn { date: targetDate };"
      },
      "id": "1b2c3d4e-5f6a-7b8c-9d0e-1f2a3b4c5d6e",
      "name": "Set Target Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400],
      "notes": "Change the date here to process different days"
    },
    {
      "parameters": {
        "url": "=https://your-csv-url.com/conversations.csv",
        "options": {}
      },
      "id": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Download CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400],
      "notes": "Replace URL with your CSV file location"
    },
    {
      "parameters": {
        "operation": "read",
        "binaryPropertyName": "data",
        "options": {
          "headerRow": true
        }
      },
      "id": "3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://dashboard-pro-services.vercel.app/api/dates/{{ $('Set Target Date').first().json.date }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "3d4e5f6a-7b8c-9d0e-1f2a-3b4c5d6e7f8a",
      "name": "Get Existing Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 600],
      "notes": "Fetch existing conversations from dashboard"
    },
    {
      "parameters": {
        "jsCode": "// Get CSV conversations\nconst csvItems = $('Parse CSV').all();\nconst csvConversations = csvItems.map(item => item.json);\n\n// Get existing conversations from dashboard\nlet existingResults = [];\ntry {\n  const existingResponse = $('Get Existing Conversations').first().json;\n  existingResults = existingResponse?.results || [];\n} catch (error) {\n  // No existing data (404 or error) - treat as empty, process all conversations\n  console.log('No existing data found, processing all conversations as new');\n  existingResults = [];\n}\n\n// Create a Set of existing conversation IDs for fast lookup\nconst existingConvIds = new Set();\nexistingResults.forEach(result => {\n  if (result.conversationId) {\n    // Handle comma-separated IDs\n    result.conversationId.split(',').forEach(id => {\n      existingConvIds.add(id.trim());\n    });\n  }\n});\n\n// Also track by client/maid ID to avoid duplicates by entity\nconst existingEntities = new Set();\nexistingResults.forEach(result => {\n  if (result.clientId) existingEntities.add(`client_${result.clientId}`);\n  if (result.maidId) existingEntities.add(`maid_${result.maidId}`);\n});\n\n// Also track by contract ID (unique identifier)\nconst existingContracts = new Set();\nexistingResults.forEach(result => {\n  if (result.contractId) existingContracts.add(result.contractId);\n});\n\nconsole.log(`Found ${existingConvIds.size} existing conversation IDs`);\nconsole.log(`Found ${existingEntities.size} existing entities`);\nconsole.log(`Found ${existingContracts.size} existing contracts`);\n\n// Filter out conversations that already exist\nconst newConversations = csvConversations.filter(conv => {\n  // Handle UPPERCASE_UNDERSCORE format from your data\n  const convId = conv.CONVERSATION_ID || conv['Conversation Id'] || conv.conversationId;\n  const clientId = conv.CLIENT_ID || conv['Client ID'] || conv.clientId;\n  const maidId = conv.MAID_ID || conv['Maid ID'] || conv.maidId;\n  const contractId = conv.CONTRACT_ID || conv['Contract ID'] || conv.contractId;\n  \n  // Skip if conversation ID exists\n  if (convId && existingConvIds.has(convId)) {\n    console.log(`Skipping duplicate conversation: ${convId}`);\n    return false;\n  }\n  \n  // Skip if contract ID exists (most reliable unique identifier)\n  if (contractId && existingContracts.has(contractId)) {\n    console.log(`Skipping duplicate contract: ${contractId}`);\n    return false;\n  }\n  \n  // Skip if entity (client/maid) already exists\n  if (clientId && existingEntities.has(`client_${clientId}`)) {\n    console.log(`Skipping duplicate client: ${clientId}`);\n    return false;\n  }\n  \n  if (maidId && existingEntities.has(`maid_${maidId}`)) {\n    console.log(`Skipping duplicate maid: ${maidId}`);\n    return false;\n  }\n  \n  return true;\n});\n\nconsole.log(`Total CSV conversations: ${csvConversations.length}`);\nconsole.log(`New conversations to process: ${newConversations.length}`);\nconsole.log(`Duplicates filtered: ${csvConversations.length - newConversations.length}`);\n\nif (newConversations.length === 0) {\n  return [{ json: { message: 'No new conversations to process', duplicatesSkipped: csvConversations.length } }];\n}\n\nreturn newConversations.map(conv => ({ json: conv }));"
      },
      "id": "4e5f6a7b-8c9d-0e1f-2a3b-4c5d6e7f8a9b",
      "name": "Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400],
      "notes": "Remove conversations that already exist in dashboard"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message }}",
              "operation": "notContains",
              "value2": "No new conversations"
            }
          ]
        }
      },
      "id": "4f5a6b7c-8d9e-0f1a-2b3c-4d5e6f7a8b9c",
      "name": "Check if Has New Conversations",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4-turbo-preview",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are analyzing customer service conversations between clients and domestic workers recruitment services.\n\nYour task:\n1. Identify which services were discussed: OEC (Overseas Employment Certificate), OWWA (Overseas Workers Welfare Administration), Travel Visa\n2. Determine if the client showed interest in any service\n3. Determine if any service was converted to a sale\n4. Extract the country mentioned (if any): Lebanon, Egypt, Jordan, Ethiopia, Philippines, Schengen, GCC\n5. Identify the client's sentiment: positive, neutral, negative\n\nReturn ONLY a JSON object with this exact structure:\n{\n  \"oec\": { \"discussed\": false, \"interested\": false, \"converted\": false },\n  \"owwa\": { \"discussed\": false, \"interested\": false, \"converted\": false },\n  \"travelVisa\": { \"discussed\": false, \"interested\": false, \"converted\": false },\n  \"country\": \"\",\n  \"sentiment\": \"neutral\"\n}"
            },
            {
              "role": "user",
              "content": "={{ $json.MERGED_MESSAGES || $json.messages || $json.Messages || $json['Messages'] }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        },
        "jsonOutput": true
      },
      "id": "5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "OpenAI Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [1650, 300],
      "credentials": {
        "openAiApi": {
          "id": "your-openai-credential-id",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nconst aiOutput = $input.first().json;\nconst originalData = $('Loop Over Items').first().json;\n\n// Parse the AI response\nlet analysis;\ntry {\n  const content = aiOutput.message?.content || aiOutput.choices?.[0]?.message?.content || '{}';\n  // Extract JSON from markdown code blocks if present\n  const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)\\s*```/) || \n                    content.match(/\\{[\\s\\S]*\\}/);\n  analysis = JSON.parse(jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : content);\n} catch (error) {\n  // Fallback if parsing fails\n  analysis = {\n    oec: { discussed: false, interested: false, converted: false },\n    owwa: { discussed: false, interested: false, converted: false },\n    travelVisa: { discussed: false, interested: false, converted: false },\n    country: \"\",\n    sentiment: \"neutral\"\n  };\n}\n\n// Handle UPPERCASE_UNDERSCORE format from your actual data\n// Return formatted conversation with analysis\nreturn {\n  conversationId: originalData.CONVERSATION_ID || originalData['Conversation Id'] || originalData.conversationId || `CONV_${Date.now()}`,\n  chatStartDateTime: originalData.CHAT_START_DATETIME || originalData['chat start date time (Asia/Dubai)'] || originalData.chatStartDateTime || new Date().toISOString(),\n  maidId: originalData.MAID_ID || originalData['Maid ID'] || originalData.maidId || '',\n  clientId: originalData.CLIENT_ID || originalData['Client ID'] || originalData.clientId || '',\n  contractId: originalData.CONTRACT_ID || originalData['Contract ID'] || originalData.contractId || '',\n  maidName: originalData.MAID_NAME || originalData['Maid Name'] || originalData.maidName || '',\n  clientName: originalData.CLIENT_NAME || originalData['Client Name'] || originalData.clientName || '',\n  contractType: originalData.CONTRACT_TYPE || originalData['Contract Type'] || originalData.contractType || 'CC',\n  messages: originalData.MERGED_MESSAGES || originalData.messages || originalData['Messages'] || '',\n  \n  // AI Analysis\n  analysis: analysis,\n  processingStatus: 'succeeded',\n  processedAt: new Date().toISOString()\n};"
      },
      "id": "6f7a8b9c-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "conversations"
      },
      "id": "7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get all aggregated conversations\nconst allItems = $input.all();\nconst allConversations = allItems.map(item => item.json);\n\n// Get the target date from earlier\nconst targetDate = $('Set Target Date').first().json.date;\n\nreturn {\n  date: targetDate,\n  conversations: allConversations\n};"
      },
      "id": "8b9c0d1e-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashboard-pro-services.vercel.app/api/ingest/daily",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $json.date }}"
            },
            {
              "name": "conversations",
              "value": "={{ $json.conversations }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9c0d1e2f-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "POST to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "your-dashboard-credential-id",
          "name": "Dashboard API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconsole.log('✅ Success! All new conversations processed and posted to dashboard');\nreturn result;"
      },
      "id": "9d0e1f2a-3b4c-5d6e-7f8a-9b0c1d2e3f4a",
      "name": "Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, 300]
    },
    {
      "parameters": {
        "jsCode": "const skipInfo = $input.first().json;\nconsole.log(`ℹ️ ${skipInfo.message}`);\nconsole.log(`Duplicates skipped: ${skipInfo.duplicatesSkipped}`);\nreturn { message: 'All conversations already exist in dashboard. Nothing to process.' };"
      },
      "id": "9e0f1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b",
      "name": "No New Data Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 500],
      "notes": "Shows when all conversations are duplicates"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Target Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target Date": {
      "main": [
        [
          {
            "node": "Download CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existing Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download CSV": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Conversations": {
      "main": [
        [
          {
            "node": "Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicates": {
      "main": [
        [
          {
            "node": "Check if Has New Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Has New Conversations": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Data Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "OpenAI Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analysis": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "POST to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Dashboard": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-11T00:00:00.000Z",
  "versionId": "2"
}

