n8n-workflow-dashboard-ai-processing.json
{
  "name": "Dashboard AI Processing - OpenAI",
  "nodes": [
    {
      "parameters": {},
      "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "=https://your-csv-url.com/conversations.csv",
        "options": {}
      },
      "id": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Download CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "notes": "Replace URL with your CSV file location"
    },
    {
      "parameters": {
        "operation": "read",
        "binaryPropertyName": "data",
        "options": {
          "headerRow": true
        }
      },
      "id": "3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4-turbo-preview",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are analyzing customer service conversations between clients and domestic workers recruitment services.\n\nYour task:\n1. Identify which services were discussed: OEC (Overseas Employment Certificate), OWWA (Overseas Workers Welfare Administration), Travel Visa\n2. Determine if the client showed interest in any service\n3. Determine if any service was converted to a sale\n4. Extract the country mentioned (if any): Lebanon, Egypt, Jordan, Ethiopia, Philippines, Schengen, GCC\n5. Identify the client's sentiment: positive, neutral, negative\n\nReturn ONLY a JSON object with this exact structure:\n{\n  \"oec\": { \"discussed\": false, \"interested\": false, \"converted\": false },\n  \"owwa\": { \"discussed\": false, \"interested\": false, \"converted\": false },\n  \"travelVisa\": { \"discussed\": false, \"interested\": false, \"converted\": false },\n  \"country\": \"\",\n  \"sentiment\": \"neutral\"\n}"
            },
            {
              "role": "user",
              "content": "={{ $json.messages || $json.Messages || $json['Messages'] }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        },
        "jsonOutput": true
      },
      "id": "5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "OpenAI Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [1050, 300],
      "credentials": {
        "openAiApi": {
          "id": "your-openai-credential-id",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nconst aiOutput = $input.first().json;\nconst originalData = $('Loop Over Items').first().json;\n\n// Parse the AI response\nlet analysis;\ntry {\n  const content = aiOutput.message?.content || aiOutput.choices?.[0]?.message?.content || '{}';\n  // Extract JSON from markdown code blocks if present\n  const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)\\s*```/) || \n                    content.match(/\\{[\\s\\S]*\\}/);\n  analysis = JSON.parse(jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : content);\n} catch (error) {\n  // Fallback if parsing fails\n  analysis = {\n    oec: { discussed: false, interested: false, converted: false },\n    owwa: { discussed: false, interested: false, converted: false },\n    travelVisa: { discussed: false, interested: false, converted: false },\n    country: \"\",\n    sentiment: \"neutral\"\n  };\n}\n\n// Return formatted conversation with analysis\nreturn {\n  conversationId: originalData['Conversation Id'] || originalData.conversationId || `CONV_${Date.now()}`,\n  chatStartDateTime: originalData['chat start date time (Asia/Dubai)'] || originalData.chatStartDateTime || new Date().toISOString(),\n  maidId: originalData.maidId || originalData['Maid ID'] || '',\n  clientId: originalData.clientId || originalData['Client ID'] || '',\n  contractId: originalData.contractId || originalData['Contract ID'] || '',\n  maidName: originalData.maidName || originalData['Maid Name'] || '',\n  clientName: originalData.clientName || originalData['Client Name'] || '',\n  contractType: originalData.contractType || originalData['Contract Type'] || 'CC',\n  messages: originalData.messages || originalData['Messages'] || '',\n  \n  // AI Analysis\n  analysis: analysis,\n  processingStatus: 'succeeded',\n  processedAt: new Date().toISOString()\n};"
      },
      "id": "6f7a8b9c-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "conversations"
      },
      "id": "7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get all aggregated conversations\nconst allItems = $input.all();\nconst allConversations = allItems.map(item => item.json);\n\n// Determine the date (use earliest conversation date or today)\nlet date = new Date().toISOString().split('T')[0]; // Default to today\n\nif (allConversations.length > 0 && allConversations[0].chatStartDateTime) {\n  try {\n    date = new Date(allConversations[0].chatStartDateTime).toISOString().split('T')[0];\n  } catch (e) {\n    // Keep default date if parsing fails\n  }\n}\n\nreturn {\n  date: date,\n  conversations: allConversations\n};"
      },
      "id": "8b9c0d1e-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashboard-pro-services.vercel.app/api/ingest/daily",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $json.date }}"
            },
            {
              "name": "conversations",
              "value": "={{ $json.conversations }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9c0d1e2f-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "POST to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "your-dashboard-credential-id",
          "name": "Dashboard API Key"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Download CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download CSV": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "OpenAI Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analysis": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "POST to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-11T00:00:00.000Z",
  "versionId": "1"
}

