n8n-complete-workflow.json
{
  "name": "Daily Agent Hours to Dashboard",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Daily (11 PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "notes": "Runs every day at 11 PM to collect the day's agent hours"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sample-data",
              "name": "agents",
              "value": "=[\n  {\n    \"FULL_NAME\": \"Christian Rizkallah\",\n    \"HOURS_LOGGED\": 3,\n    \"FIRST_LOGIN\": \"{{ $now.format('yyyy-MM-dd') }} 09:26:33.000\",\n    \"LAST_LOGOUT\": \"{{ $now.format('yyyy-MM-dd') }} 12:22:37.000\"\n  },\n  {\n    \"FULL_NAME\": \"Omar Abou Zaid\",\n    \"HOURS_LOGGED\": 8,\n    \"FIRST_LOGIN\": \"{{ $now.format('yyyy-MM-dd') }} 14:04:51.000\",\n    \"LAST_LOGOUT\": \"{{ $now.format('yyyy-MM-dd') }} 22:01:27.000\"\n  },\n  {\n    \"FULL_NAME\": \"Serly Nersessian\",\n    \"HOURS_LOGGED\": 8,\n    \"FIRST_LOGIN\": \"{{ $now.format('yyyy-MM-dd') }} 12:17:54.000\",\n    \"LAST_LOGOUT\": \"{{ $now.format('yyyy-MM-dd') }} 20:08:34.000\"\n  }\n]",
              "type": "array"
            }
          ]
        }
      },
      "id": "sample-source-data",
      "name": "YOUR DATA SOURCE HERE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [470, 300],
      "notes": "REPLACE THIS: Get agent hours data from your database, API, or file system. Output should have an 'agents' array."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "analysisDate",
              "name": "analysisDate",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "agents",
              "name": "agents",
              "value": "={{ $json.agents.map(agent => ({\n  FULL_NAME: agent.FULL_NAME,\n  HOURS_LOGGED: parseFloat(agent.HOURS_LOGGED) || 0,\n  FIRST_LOGIN: agent.FIRST_LOGIN,\n  LAST_LOGOUT: agent.LAST_LOGOUT\n})) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "format-agent-hours",
      "name": "Format Agent Hours Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [690, 300],
      "notes": "✅ NODE 1: Formats data with today's date and ensures correct structure"
    },
    {
      "parameters": {
        "url": "https://your-dashboard.vercel.app/api/agent-hours",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  analysisDate: $json.analysisDate,\n  agents: $json.agents\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "post-to-dashboard",
      "name": "POST to Dashboard API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "notes": "✅ NODE 2: Sends data to dashboard. Creates blob entry: agent-hours/YYYY-MM-DD.json"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300],
      "notes": "Optional: Check if POST was successful"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-message",
              "name": "message",
              "value": "=✅ Agent hours data successfully sent to dashboard for {{ $('Format Agent Hours Data').item.json.analysisDate }}",
              "type": "string"
            },
            {
              "id": "details",
              "name": "details",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "success-notification",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1350, 200],
      "notes": "Optional: Send success notification (Slack, Email, etc.)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message",
              "name": "error",
              "value": "=❌ Failed to send agent hours data: {{ $json.error || $json.message }}",
              "type": "string"
            },
            {
              "id": "details",
              "name": "details",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "error-notification",
      "name": "Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1350, 400],
      "notes": "Optional: Send error notification (Slack, Email, etc.)"
    }
  ],
  "connections": {
    "Schedule Daily (11 PM)": {
      "main": [
        [
          {
            "node": "YOUR DATA SOURCE HERE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YOUR DATA SOURCE HERE": {
      "main": [
        [
          {
            "node": "Format Agent Hours Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Agent Hours Data": {
      "main": [
        [
          {
            "node": "POST to Dashboard API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Dashboard API": {
      "main": [
        [
          {
            "node": "Check Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-16T00:00:00.000Z",
  "versionId": "1"
}

